.faq-item {
  padding: 20px;
  margin-bottom: 2px;
  background: #fff;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: $navy;
  display: block;
}

.faq-question:hover {
  color: darken($navy, 5%);
}

.faq-answer {
  margin-top: 10px;
  background: $gray;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 15px;
}

.faq-item .tag-item {
  background: $gray;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}
