
/* INPUTS */
.inline {
  display: inline-block !important;
}

.input-s-sm {
  width: 120px;
}

.input-s {
  width: 200px;
}

.input-s-lg {
  width: 250px;
}

.i-checks {
  padding-left: 0;
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-control:focus, .single-line:focus {
  border-color: $navy;
}

.has-success .form-control, .has-success .form-control:focus {
  border-color: $navy;
}

.has-warning .form-control, .has-warning .form-control:focus {
  border-color: $yellow;
}

.has-error .form-control, .has-error .form-control:focus {
  border-color: $red;
}

.has-success .control-label {
  color: $navy;
}

.has-warning .control-label {
  color: $yellow;
}

.has-error .control-label {
  color: $red;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}

.adjust-huener-buttons.input-group-btn .btn-xs {
  line-height: 1.13;
}

.adjust-huener-buttons.input-group-btn {
  width: 20%;
}

.noUi-connect {
  background: none repeat scroll 0 0 $navy;
  box-shadow: none;
}

.slider_red .noUi-connect {
  background: none repeat scroll 0 0 $red;
  box-shadow: none;
}
